body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.custom-card-shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-label-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #71b7e6, #9b59b6); 
}